# -------------------
# Python
# -------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------
# Virtual environments
# -------------------
venv/
env/
.venv/

# -------------------
# Jupyter
# -------------------
.ipynb_checkpoints/

# -------------------
# Editor backups
# -------------------
*~
*.un~

# -------------------
# OS files
# -------------------
.DS_Store
Thumbs.db

# -------------------
# Logs
# -------------------
*.log

# -------------------
# Model files (if large)
# -------------------
*.pkl
*.joblib
*.h5
*.pt


